{% extends "shared/_layout.html" %}

{% block headTitle %}Raiz de la home{% endblock %}

{% block content %}
	<div class="header">
		<h1>Index</h1>
		<h2>Subtitle Index</h2>
	</div>

	<div class="content">
		<h2 class="content-subhead">Api Demo</h2>
		<p>
			We have some fruits like :
			<ul>
			{% for fruit in fruits %}
				<li>La fruta con ID: {{ fruit.getId() }} es <span class="negrita">{{ fruit.getName() }}</span> y vale ({{ fruit.getPrice() }} €)</li>
			{% endfor %}
			</ul>
		</p>
		<p>Enlaces de prueba para la API - {{data}}</p>
		<ul>
			<li><a href="/api/fruits">API All FRUITS</a></li>
			<li><a href="/api/fruit/1">API FRUIT 2 (Oranges)</a></li>
		</ul>
	</div>
{% endblock %}